
body {
    margin: 0 auto;
    background-color: rgb(242, 245, 249);
}

div.formContainer {
    margin: 4em auto 4em auto;
    width: 50%;
    color: #061101;
    border: 3px solid #072a3f;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
}

div.heading {
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 1em 0 1em 0;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #052021;
    text-align: center;
    background-color:#16c79a;
    color: rgb(26, 32, 31);
}

div.description {
    padding: 1em 0 1em 0;
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center;
}

div.form {
    margin: 0 auto 0 auto;
    width: 100%;
}

div.form form {
    margin: 0 auto 0 auto;
    width: 80%;
}

div.form label {
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    outline: none;
    color: #010b15;
    font-weight: bolder;
    letter-spacing: 0.1;
}
div.form input {
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    outline: none;
    color: #161517;
    padding: 1.2em 0 1em 1.2em;
    background-color:#16c79a;
    border: 0.5px solid #2c290e;
    text-align: center;
}

div.form textarea {
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    outline: none;
    
    padding: 1.2em 0 1em 1.2em;
    background-color: #16c79a;
    border: 0.5px solid #2c290f;
    height: 18em;
    resize: none;
}

div.form button {
   
    margin: 2em auto 2em auto;
    padding: 2em;
    cursor: pointer;
    border: none;
    display: block;
    width: 60%;
    text-align: center;
    border: 1px solid #25230b;
    
}
div.form button {
    background-color: #16c79a;
    color: #3c3813;
    font-weight: bolder;
    transition: all 0.2s linear;
    font-size: 15px;
}
